body {
  margin-inline: auto;
  overflow-x: hidden;
}
.container {
  display: grid;
}
.header {
  background-color: black;
  color: white;
  margin: 0;
  border: 2px solid rgb(237, 163, 176);
  text-align: center;
}
.header h1 {
  font-family: blackadder itc regular;
}
.paragraph {
  text-align: center;
}
.pics {
  width: 20vw;
  height: 10vh;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(1, 150px);
  grid-auto-flow: row;
  column-gap: 20px;
  row-gap: 20px;
}
.pics img {
  flex-basis: 250px;
  flex-shrink: none;
  width: 150px;
  height: 150px;
  margin-right: 10px;
  margin-bottom: 10px;
}
@media (min-width: 800px) {
  .header {
    text-align: center;
    overflow-x: hidden;
    grid-area: 1 / span 6;
  }
  .pics {
    width: 100vh;
    height: 100vw;
    display: grid;
    grid-template-rows: repeat(2, 150px);
    grid-auto-flow: column;
    column-gap: 40px;
    row-gap: 40px;
  }
}
.pictures {
  margin: auto;
  height: 10vh;
  width: 10vw;
  display: flex;
  flex-direction: rows;
  align-self: center;
}
